services:
  redis:
    image: redis:7-alpine
    container_name: redis_db
    ports:
      - "6379:6379"
    volumes:
      - ./infra/redis_init.conf:/data/init.redis
    command: >
      sh -c "redis-server --daemonize yes
      && sleep 1
      && cat /data/init.redis | redis-cli
      && redis-cli shutdown
      && redis-server"
    networks:
      backend_net:

  # Serviço de DNS (Bind9)
  dns:
    image: ubuntu/bind9
    container_name: dns_server
    platform: linux/amd64 # Garante compatibilidade
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    volumes:
      - ./dns/named.conf:/etc/bind/named.conf
      - ./dns/meutrabalho.zone:/etc/bind/meutrabalho.zone
    networks:
      backend_net:
        ipv4_address: 172.20.0.3

  app1:
    build: ./backend # Certifique-se que este caminho está certo
    container_name: app1
    environment:
      REDIS_HOST: redis_db # Nome do serviço redis na rede
      HOSTNAME: Servidor_01
    ports:
      - "8001:80"
    networks:
      backend_net:
        ipv4_address: 172.20.0.10  # IP FIXO
    depends_on:
      - redis

  app2:
    build: ./backend
    container_name: app2
    environment:
      REDIS_HOST: redis_db
      HOSTNAME: Servidor_02
    ports:
      - "8002:80"
    networks:
      backend_net:
        ipv4_address: 172.20.0.11  # IP FIXO
    depends_on:
      - redis

  app3:
    build: ./backend
    container_name: app3
    environment:
      REDIS_HOST: redis_db
      HOSTNAME: Servidor_03
    ports:
    - "8003:80"
    networks:
      backend_net:
        ipv4_address: 172.20.0.12  # IP FIXO
    depends_on:
      - redis
  client_tester:
    image: python:3.11-slim
    container_name: cliente_teste
    volumes:
      - ./testes:/app_teste
    command: sh -c "pip install requests && python /app_teste/teste_sistema.py"
    networks:
      backend_net:
    depends_on:
      - dns
      - app1
      - app2
      - app3
    dns: 172.20.0.3 
  ubuntu_desktop:
    image: lscr.io/linuxserver/webtop:ubuntu-xfce
    container_name: meu_linux_grafico
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    volumes:
      - ./config:/config
    ports:
      - "3000:3000"
    dns: 172.20.0.3
    networks:
      backend_net:
    shm_size: "1gb"
    depends_on:
      - dns

networks:
  backend_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
